/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
	position: fixed;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.toggle {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
  font-size: 35px;
  color: black;
  z-index: 1;
}
.toggle:hover {
  color: RGB(179, 2, 35);
}

.sidebar {
  position: fixed;
  top: 0px;
  left: -300px;
  height: 100%;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  transition: 0.6s;
  width: 300px;
  padding: 10px 40px 10px 10px;
  z-index: 1;
}
.sidebar li {
  margin-bottom: 16px;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
  list-style: none;
}

#side {
  display: none;
}
#side:checked + .sidebar {
  transform: translateX(300px);
}