<header class="site-header">
    <label for="side" class="toggle">☰</label>
	<input type="checkbox" id="side" name="" value="">

  <div class="sidebar">
	<h1>Navigation</h1>
	<a class="site-title" href="{{site.url}}">{{ site.title }}</a>
	<hr />
	<ul>
		{% for my_page in site.pages %}
			{% if my_page.categories contains 'profile' %}
			{% elsif my_page.title %}
				<li><a class="page-link" href="{{ my_page.url | prepend: site.url }}">{{ my_page.title }}</a></li>
			{% endif %}
		{% endfor %}
		<li><a class="page-link" href="https://github.com/EternalBlueFlame/Traincraft-5/wiki/Minecraft-Train-Control">Peach's MTC guide</a></li>
		<li><a class="page-link" href="https://www.patreon.com/EternalBlueFlame">Eternal's Patreon</a></li>
	</ul>
	<br/>
	<iframe src="https://discord.com/widget?id=178992323265298432&theme=dark" width="300" height="200" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
	<div class="footer-col footer-col-2">
		<div class="social-media-list">
			<a href="https://gitlab.com/{{ site.gitlab_username }}"><span class="icon icon--gitlab">{% include icon-gitlab.svg %}</span><span class="username">{{ site.gitlab_username }}</span></a><br/>
			<a href="https://github.com/{{ site.github_username }}"><span class="icon icon--github">{% include icon-github.svg %}</span><span class="username">{{ site.github_username }}</span></a><br/>
			<a href="https://twitter.com/{{ site.twitter_username }}"><span class="icon icon--twitter">{% include icon-twitter.svg %}</span><span class="username">{{ site.twitter_username }}</span></a>
		</div>
	</div>
  </div>
</header>
